.container {
  margin: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -2px 4px 8px 12px;
  width: 100%;
}

.backButton {
  display: flex;
  flex-direction: row;
  gap: 12px;
  cursor: pointer;
  align-items: center;
}

.backButton img {
  width: 24px;
  height: auto;
}

.headerRight {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.titleInput {
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid #c9c9c9;
  width: 150px;
  background: white;
  color: black;
}

.dragDropWrapper {
  display: flex;
  gap: 40px;
  padding: 50px 20px;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

.sessionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  height: 90vh;
  overflow-y: auto;
}

.dropAreaWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90vh;
  width: 75%;
  overflow-y: auto;
}

.droppedSessions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
    .container {
  margin: 24px;
  width:100%;
}
    .dragDropWrapper {
  display: flex;
  flex-direction: column;
  width:100%;
}

    .droppedSessions {      
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        }
    .sessionList {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        height: auto;
        overflow-y: auto;
    }
    .dropAreaWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: -2px 4px 8px 12px;
  width: 100%;
  gap:30px;
}

  
}

